- provide(:title, board.title)
.col-md-6
  .well= render partial: 'form'
.clearfix
.col-md-12
  = render treads
  .page-footer
    .col-md-6.well= render partial: 'form'
    .clearfix
    = will_paginate treads
