// Fonts

@import url("http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,400,300,600,700&subset=latin,cyrillic,cyrillic-ext,latin-ext");
$font-family-sans-serif:  "Open Sans", sans-serif;
$headings-font-weight:    600 !default;

// Custom colors

$body-bg:       #eeeeee;
$brand-primary: #555555;
$brand-info:    #999999;

@import "bootstrap-sprockets";
@import "bootstrap";

blockquote p {
  font-size: $font-size-base;
}

$notify_right: 10px;
$notify_left: $notify_right;
$notify_top: 55px;
$notify_bottom: $notify_top;

@import "bootstrap_notify";
@import "spinner";

body {
  font-weight: 400;

  strong {
    font-weight: 700;
  }
}

header, footer {
  margin-left: 15px;
  margin-right: 15px;
}

footer {
  padding-top: 40px;
}

.row {
  margin-left: 0px;
  margin-right: 0px;
}

.notifications {
  z-index: 9999;
}

.article-sad {
  height: 100px;
  width: 250px;

  .article-smile {
    height: 60px;
    background: url(sad-smile.svg) no-repeat top center;
    background-size: contain;

    .no-svg {
      background-image: url(sad-smile.png);
    }
  }
}

@import "wysiwyg_colors";
