- if notice
  .alert.alert-success.alert-dismissable
    %button{type: "button", class: "close", 'data-dismiss'=>"alert", 'aria-hidden'=>"true"}
      &times;
    = notice
- elsif alert
  .alert.alert-warning.alert-dismissable
    %button{type: "button", class: "close", 'data-dismiss'=>"alert", 'aria-hidden'=>"true"}
      &times;
    = alert