#modal.modal.fade{'aria-hidden' => 'true', 'aria-labelledby' => 'showFullsize', role: 'dialog', tabindex: '-1'}
  .modal-dialog.modal-lg
    .modal-content
      .modal-header
        %button.close{'data-dismiss' => 'modal', type: 'button'}
          %span{'aria-hidden' => 'true'} ×
          %span.sr-only Закрыть
      .modal-body
      .modal-footer
